.profile__container {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 720px) {
    .profile__container {
        flex-direction: column;
        width: 100%;
        margin: 38px 0 0;
    }
}
