.popup__title {
    margin: 0 0 51px 0;
    font-size: 24px;
    line-height: 1.21;
    font-weight: 900;
}

@media screen and (max-width: 720px) {
    .popup__title {
        font-size: 18px;
        margin: 0 0 75px 0;
    }
}
