.cards__grid-list {
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    gap: 20px 17px;
}

@media screen and (max-width: 720px){
    .cards__grid-list {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
    }
}

@media screen and (max-width: 500px){
    .cards__grid-list {
        grid-template-columns: 1fr;
    }
}