.popup__container {
    position: relative;
    margin: auto;
    max-width: 430px;
    width: 100%;
    background-color: white;
    border-radius: 3%;
    box-sizing: border-box;
    box-shadow: 0 0 25px;
    font-family: Inter, sans-serif;
    display: flex;
}

@media screen and (max-width: 720px) {
    .popup__container {
        width: 282px;
    }
}
