.header {
    display: flex;
    margin: 0 200px;
    padding-top: 45px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    align-items: flex-start;
    justify-content: space-between;
}

@media screen and (max-width: 1120px) {
    .header {
        margin: 0 100px 40px;
    }
}

@media screen and (max-width: 900px) {
    .header {
        margin: 0;
        padding-top: 28px;
    }
}
