.cards__photo {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 282px;
    object-fit: cover;
    transition: opacity ease .5s;
}

.cards__photo:hover {
    cursor: pointer;
    opacity: .6;
}